<section class="article" style="display: flex; justify-content: space-around">
  <section
    style="background-color: aquamarine; width: 22%; height: 250px"
  ></section>
  <section
    style="background-color: aquamarine; width: 22%; height: 250px"
  ></section>
  <section style="background-color: aquamarine; width: 45%; height: 250px">
    <article>
      <p style="text-align: justify; padding: 5%; text-indent: 5%">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, est,
        optio accusamus deserunt ratione rem provident magni nisi vero,
        architecto doloribus mollitia fugit nihil. Nesciunt numquam sint in
        veritatis consequuntur dolorem reiciendis dolorum? Ab, vero tempore!
        Dolores eveniet, incidunt maxime quia, suscipit pariatur impedit ducimus
        quam mollitia qui quo neque velit recusandae dolorum ab iure a excepturi
        quae sed! Distinctio praesentium possimus numquam voluptate explicabo
        eum dolor ea enim blanditiis iste mollitia, deserunt odit quisquam
        reprehenderit. Dolorum ullam officia sunt reprehenderit placeat
        accusantium beatae nemo! Cupiditate recusandae voluptate nam minima
        voluptatem architecto repellendus tempora repudiandae nisi aliquam,
        veniam quam sit.
      </p>
    </article>
  </section>
</section>
